*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body, input, button, select, textarea{ 
    font-family: 'Poppins', sans-serif;
}

body{     
    background:#e5e5e5; 
}

body::before{
    content: '';
    width: 100%;
    height: 368px;

    background-color: #121214;
    
    position:absolute; 
    top:0;
    left: 0;
    z-index: -1;
}
.page{
    width: 736px;
    margin: auto; 
}
header{  
    
    width: 319px; 
    margin-top: 74px; 
}

header h1{
    font-family: 'Archivo', sans-serif;
    font-weight:bold;
    font-family: 36px;
    line-height: 42px;
    color: white;
}

header p{
    color: #42D3FF;  
    font-size: 16px;  
    line-height: 26px;
    padding-top:24px;
}

form{
    padding: 64px;
    margin-top:38px;
    background-color: #fafafc;
    min-height: 300px;
    border-radius: 8px 8px 0 0 ;
}

fieldset{
    border:none;

}

.fieldset-wrapper{ 
    display: flex; 
    flex-direction: column;
    gap: 24px; 
}

fieldset legend{
    font-family: 'Archivo', sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;  

    border-bottom:1px solid #e6e6f0;
    width: 100%;
    padding-bottom:16px ;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 8px;
}
.input-wrapper label{
    color: #4E4958;  

    font-size: 14px;  
    line-height: 24px;  
}

.input-wrapper label span{
    color: #a9a7af;  

    font-size: 12px; 
    line-height: 20px; 
    margin-left:12px;
}

.input-wrapper label span:hover{
    color: #6c6a71;
}

.input-wrapper input, 
.input-wrapper textarea{
    width: 608px;
    height: 56px;

    padding: 0px 24px;

    border-radius: 8px;
    border: 1px solid  #E6E6F0 ;
    background-color: #FAFAFC ;

    box-sizing: border-box;
    color: #6c6a71;

    font-size: 16px;  
    line-height: 26px;
    
}

.input-wrapper input:hover, 
.input-wrapper textarea:hover{
    border: 1px solid #FF1010;
}

.input-wrapper textarea{
    padding: 15px  24px; 

    max-width: 608px;
    min-width: 608px;
    
    height: 168px;
}
 