*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
    
    --hue:210;
    --color-base-white:hsl(0, 0%, 100%);
    --color-base-gray-100:hsl(0, 0%, 96%);
    --color-base-gray-200: rgb(var(--hue), 224, 224);
    --color-base-gray-300: hsl(var(--hue), 6%, 58%);
    --color-base-gray-500: hsl(0, 0%, 24%);
    --color-base-gray-900:hsl(var(--hue), 6%, 30%); 


}

html, body, input{ 
    font-family: 'Mulish', sans-serif; 
}

body{ 
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color:var(--color-base-gray-900);
} 

#app{
    display: grid;
    grid-template-rows: max-content 1fr max-content; 
    height: 100vh; 
    user-select:none;
}

.container{
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

/* Header*/
header, 
nav, 
nav ul{
    display: flex;
    align-items: center; 
    gap:7.2rem;  

    font-weight: 700;
}

header nav li,
header .profile,
header .logo,
.item img,
h2
{ 
    cursor: pointer;
} 

nav ul{
    list-style: none;
    font-size: 1.8rem;
    color:var(--color-base-gray-300); 
}

ul li.active {
    color: var(--color-base-gray-900);

}
.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    width: 100% ;
    padding: 1.6rem;
    background-color: var(--color-base-gray-100);
    border-radius: .6rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.56;
    font-weight: 600;
}

.input-wrapper input::placeholder{
    opacity: 0.56;
    color:var(--color-base-gray-500);
    
}

header form{
    flex:1; 
}

.profile img{
    width:4.2rem;
    height: 4.2rem;

    object-fit: cover;
    border-radius: 999px;

} 

/*Main GALERIA*/
main{
    background-color: var(--color-base-gray-100);
    overflow-y: scroll; 
} 

main h1{
    font-size: 2.4rem;
    padding-top:1.6rem;

}
 
.gallery{
    margin-top: 3.2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2.2rem; 
}

.item{
    border-radius: .8rem;
    background-color: var(--color-base-white); 
    overflow: hidden;
    
    filter:grayscale(0.7);    
    transition: all .4s ease-out; 
    
} 
.item:hover{ 
    /* filter: hue-rotate(7deg) contrast(101%) saturate(200%); */ 
    filter: hue-rotate(7deg) grayscale(0) contrast(101%) saturate(100%); 
    transform:  scale(1.1)  rotate(0deg); 
    
    background-color: var(--color-base-gray-200);
} 



.item img{ 
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;  

    display:block;
} 

 .details{
    padding: 2.2rem; 

    z-index: 1;
    position: relative;
    text-align: left;
} 


.tags{
    margin-top:1.2rem;
}

.tags span{
    padding: .6rem;
    background-color: var(--color-base-gray-100);
    border-radius: .4rem;
    line-height: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
} 

/*Footer*/  
footer {
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}

/* @keyframes*/
header{
    --startY: -100%;
    animation: move .2s;
}
/*
footer{
    --startY: 100%; 
    animation: move .2s;
}
*/

@keyframes move{
    from{
        transform: translateY(var(--startY));
    } 
}

.item{ 
    animation: appear .4s var(--delay)  backwards; 
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    
    50%{
        transform: scale(1.1);
    }
}
 