*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
 
}

.page{
    margin: 6.5rem 19rem 0;
    width: 800px;
    
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 55px; 

}

ul{
    display: flex;
    gap:48px; 
    margin: 0;
    padding: 0;
    list-style: none; 
}

ul li a{
    text-decoration: none;
    color: #1f1534;
}
ul li a:hover{
    font-weight: bold;
}

li{ 
    cursor: pointer;
    opacity: 0.6; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
li:hover{     
    opacity: 1;  
}
 
h1,ul{
    font-family: 'Mulish', sans-serif; 
}

h1{ 
    font-size: 49px; 
    font-weight: 400;
    line-height: 56px; 
    color:#000;
}
h1 span{
    color:#89C5CC;
}

section   p{
    padding: 40px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #7D7987;
}