*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    user-select:none;
 
}

.page{
    margin: 6.5rem 19rem 0;
    width: 800px;
    
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 55px; 

}
nav img:hover{  
    background-color:  #F9F9F9;
} 
nav li{
    transition: transform .4s;

}
nav li:hover{
    transform: scale(1.1); 
}

ul{
    display: flex;
    gap:48px; 
    margin: 0;
    padding: 0;
    list-style: none; 
}

ul li a{
    text-decoration: none;
    color: #1f1534;

}
ul li a:hover{ 
    font-weight: bold;
}

li{ 
    cursor: pointer;
    opacity: 0.6; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
li:hover{     
    opacity: 1;  
}
 
h1,ul{
    font-family: 'Mulish', sans-serif; 
}

h1{ 
    font-size: 49px; 
    font-weight: 400;
    line-height: 56px; 
    color:#000;
    width: 489px;
}
h1 span{
    color:#89C5CC;
    font-weight: 600;
}
 
section p{
    margin: 40px 0px;
    font-size: 14px; 
    font-weight: 400;
    line-height: 28px;
    color: #7D7987;
    width: 438px;
    
}
button{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #69B99D;
    color:  #F9F9F9;
    border: none;
    border-radius: 4px;
    transition: transform .4s;
    cursor: pointer; 
     
 }
 button:hover{ 
    transform: scale(1.1);
    background-color:  #3eb98e;
    border-radius: 6px;

 }
 
 
 footer p, footer a{
    margin-top: 133px;

    text-align: center;
    color: #000;
    font-size: 14px; 
    font-weight: 400;
    line-height: 28px; 

 }

 footer a{
    text-decoration: none;
    color: #000;
    font-weight: bold; 
    

 }
 footer a:hover{  
    
    background-color:  #F9F9F9;
 }